::-webkit-scrollbar{
    width: 0px;
}

#root{
  height: 800px;
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;  
  -khtml-user-select: none;   
  -moz-user-select: none;      
  -ms-user-select: none;       
  user-select: none;                                           
  overflow-x: hidden;
  background: url("../UI/background.jpg");
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  background: #242424;
  z-index: 7;
}

header .container{
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alllogo{
  width: 220px;
  margin-left: 40px;
}

.logo{
  width: inherit;
  display: inline-block;
  position: relative;
  color: azure;
  text-decoration: none;
  font-size:35px;
  font-weight: 600;
}

.menu{
  display: flex; 
  color: azure;
  text-decoration: none;
  font-size:20px;
  padding: 10px 10px;
  opacity: 0.8px;
  position: relative;
  border: 1px solid #242424;
}

.btn{
  display: flex; 
  color: azure;
  text-decoration: none;
  font-size:20px;
  padding: 10px 10px;
  opacity: 0.8px;
  position: relative;
  border: 1px solid #242424;
}

.btn:hover{
  border-radius: 10px 10px 10px 10px;
  border: 1px solid azure;
}

.registerbtn{
  background: transparent;
  backdrop-filter: blur(100px);
  color: azure;
  border: 0ch;
  padding: 10px 30px;
  border: 1px solid #242424;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 7px;
}

.register-btn{
  background: transparent;
  backdrop-filter: blur(100px);
  color: azure;
  border: 0ch;
  border: 1px solid #242424;
  font-size: 28px;
  font-weight: 580;
}

.registerbtn:hover{
  border-radius: 10px 10px 10px 10px;
  border: 1px solid azure;
}

content{
  width: 100%;
  height: auto;
}

.heading{
  margin-top: 140px;
  text-shadow: 4px 4px 4px black;
  color: azure;
  position: relative;
  font-size: 40px;
  top: 35px;
  margin-left: 25px;
   
}

#heading{
  transition: 0.8s;
}

.scroll{
  font-size: 30px;
}


#box{
  position: relative;
  width: 27%;
  height: 350px;
  background: #242424;
  white-space: normal;
  border-radius: 25px;
  opacity: 0.9;
  border: 1px solid azure;
  padding: 25px;
}

#box:hover{
  opacity: 1;

}

.catalog{
  position: relative;
  width: 100%;
  height: 380px;
  top: 160px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
}
.Photo{
  position: relative;
  width: 50px;
  height: 125px;
}

.TxT{
  position: relative;
  font-size:20px;
  color: azure;
}

a{
  color: azure;
  text-decoration: none;
}

#register-menu{
  position: relative;
  width: 0;
  height: 0;
}

.blockReisterMenu{
  width: 450px;
  height: 500px;
  background-color: #242424;
  border: 2px solid azure;
}

.all-window-register{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.all-window-register.active{
  opacity: 1;
  pointer-events: all;
}

.window-register{ 
  width: 400px;
  height: 300px;
  background: #242424;
  border: 2px solid black;
  border-radius: 10px;
}

.div-register{
  width: 70%;
  margin-top: 20px;
  color: azure;
  text-shadow: 4px 4px 4px black;
}

.div-input{
  margin-top: 20px;
}

.input-register{
  margin-top: 20px;
  width: 80%;
  height: 35px;
  border-radius: 5px;
}

.div-button{
  position: relative;
  margin-top: 20px;

}



.button-register{
  position: relative;
  background: transparent;
  color: azure;
  font-size: 20px;
  border: 0ch;
  
}

.button-register:hover{
  cursor: pointer;
}

.h1-button-register{
  width: 250px;
  height: 100px;

}

.button-login{
  bottom: 28px;
  position: relative;
  background: transparent;
  margin-top: 0;
  color: azure;
  font-size: 20px;
  border: 0ch;
}

.menuHamburger{
  display: none;
}

/*adaptive layout*/


@media screen and (max-width: 1199px){
  .alllogo{
    width: 15%;
    margin: 0;
    margin-left: 15px;
  }
  .alllogo>a{
    width: inherit;
    font-size: 30px;
    margin: 0;
  }
  
  .menu{
    width: 60%;
  }
  .menu>a{
    font-size: 17px;
  }
  .menu>a:nth-child(1){
    padding: 25px;
  }
  .menu>a:nth-child(2){
    padding: 25px;
  }
  .menu>a:nth-child(3){
    padding: 25px;
  }
  .menu>a:nth-child(4){
    padding: 25px;
  }
  .registerbtn{
    width: 15%;
  }
  .registerbtn>button{
    font-size: 20px;
  }


  #box{
    width: 30%;
  }

  .evaporatorTxt {
    padding-right: 5px;
    font-size: 16px;
  }
  .liquidTxt {
    padding-right: 5px;
    font-size: 16px;
  } 

  .podTxt {
    padding-right: 5px;
    font-size: 17px;
  }
  .all-window-register{
    top: -28px;
  }

  

}

@media screen and (max-width: 1024px){
  .menuHamburger{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  #show-menu{
    background: transparent;
    backdrop-filter: blur(100px);
    border: 0ch;
  }
  header{
    height: 80px;
  }

  .alllogo>a{
    font-size: 60px;
  }

  .registerbtn{
    display: none;
  }

  .menu{
    display: none;
  }

  .show-menu{
    display: block;
    position: fixed;
    background-color: #242424;
    border: 1px solid azure;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    bottom: 0;
    pointer-events: all;
  }
  
  .btn{
    margin-top: 60px;
  }

  .catalog{
    top: 70px;
  }
}

@media screen and (max-width: 1000px){
  #box>div>a>h1{
    font-size: 25px;
  }
}

@media screen and (max-width: 768px){
  .catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  #box{
    width: 250px;
    margin-top: 50px;
  }
  .evaporator{
    margin: 0 32%;
  }
}

@media screen and (max-width: 560px){
  .catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  #box{
    width: 250px;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
  }
  .heading>h1{
    font-size: 60px;
  }
}

@media screen and (max-width: 465px){
  .alllogo>a{
    font-size: 35px;
  }
}

@media screen and (max-width: 440px){
  .alllogo>a{
    font-size: 25px;
  }
  .heading>h1{
    font-size: 40px;
  }
  #box{
    width: 150px;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    height: 200px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
  }
  #box>div>a>h1{
    font-size: 15px;
  }
  #box>div>img{
    width: 35px;
    height: 70px;
  }
  .hdng{
    font-size: 30px;
  }
}